<div class="row m-0">
    <div class="col-md-6 col-sm-11 col-12 px-2 mx-auto">
        <div class="card shadow p-4">
            <h3>Subscription Resume</h3>
            <table class="table table-bordered mt-4">
                <tbody>
                    <tr>
                        <th>Selected subscription:</th>
                        <td>{{selectedSubscription?.selectedSubscrition?.duration}} months,
                             {{selectedSubscription?.selectedSubscrition?.amount}} GB</td>
                    </tr>
                    <tr>
                        <th>Price per GB:</th>
                        <td>{{dataSubscription?.price_usd_per_gb | currency}} </td>
                    </tr>
                    <tr>
                        <th>Total price:</th>
                        <td>{{selectedSubscription.price | currency}} </td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>samihaseddik@gmail.com</td>
                    </tr>
                </tbody>
            </table>
            <mat-checkbox [(ngModel)]="checkConditions" [checked]="checkConditions" class="mb-0">Accept terms and conditions</mat-checkbox>
            <div class="row mx-0 mt-4">
                <div class="col-12 px-0">
                    <div class="d-flex align-items-center justify-content-end">
                        <button class="btn btn-sm btn-outline-secondary mr-2" (click)="goBack()">Back</button>
                        <button class="btn btn-sm btn-info mr-2" (click)="confirm()" [disabled]="!checkConditions">Confirm</button>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
